*{
    padding: 0;
    margin: 0;
}
body {
    padding-top: 65px;
    /*padding-bottom: 20px;*/
    background: #E9EAED;
    font-size:15px;
    background-image: url(/bg-1.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
@media (max-width: 767px){
    body {
        background-image: url(/mobile-bg-1.jpg);
    }
}
.main-container{
    min-height: 95vh;
}
/* 透明度 */
.main-opacity{
    opacity:0.9;
}
/* 导航条 */
.navbar{
    background-color: #fff;
}
.navbar-nav .nav-link {
    color: #212220 !important;
    font-weight: 400;
    font-size: 15px;
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/* 背景卡片 */
.card-bg{
    background: #fff;
    border-radius: 3px;
    /* padding: 20px; */
    margin-bottom: 20px;
    overflow: hidden;
}
/* b-col */
.b-col{
    padding-right: 5px;
    padding-left: 5px;
}
/*鼠标悬停图片放大特效*/
.img-hover-scale {
    border: #000 solid 0px;
    overflow: hidden;
}

.img-hover-scale img {
    /*transform: scale(1,1);*/
    transition: all 0.6s;
}

.img-hover-scale img:hover {
    transform: scale(1.2);
}
/* 文章列表 */
.article-list {
    position: relative;
}
.article-item{
    padding: 20px 30px 25px 30px;
    overflow: hidden;
    position: relative;
}
.article-item .fc-flag {
    position: absolute;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 74px;
    background-color: #ff5722;
    color: #fff;
    transform: rotate(-45deg);
    left: -18px;
    top: 9px;
}
.article-item .article-title{
    margin: 0 0 10px 0;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.article-item .article-title a {
    color: #333;
}
.article-item .article-thumbnail {
    display: block;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}
.article-item .article-thumbnail img {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .article-item .article-thumbnail {
        margin-bottom: 10px;
    }
}

.article-item .article-summary {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* margin-top: 20px; */
}
.article-item .article-info {
    margin-top: 10px;
    overflow: hidden;
    color: #999;
    line-height: 10px;
    text-align: left;
}
.article-item .article-info .item {
    font-size: 12px;
    padding: 0 10px 0 0;
    /* margin: 0 10px 0 0; */
    color: #748594;
    line-height: 1.7;
    display: inline-block;
}
    .article-item .article-info .item a {
        color: #748594;
    }
    .article-item .article-info .item .b-icon {
        margin-right:5px;
    }
/* 侧边栏 */
.side-item{
    position: relative;
}
.side-item .side-item-title{
    margin: 10px 20px;
    padding: 5px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 1px solid #e8e9e7;
    color: #383937;
    position: relative;
    font-size: 18px;
}
.side-item .inner {
    margin: 0 20px;
    padding-bottom: 10px;
}
.side-item .list-article li {
    display: block;
    line-height: 32px;
    position: relative;
    margin: 3px 0;
    counter-increment: nums;
    padding-left: 30px;
    overflow: hidden;
    word-wrap: normal!important;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.side-item .list-article li:before {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    content: counter(nums,decimal);
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 100%;
    background-color: #edefee;
    font-family: SourceCodeProRegular,Menlo,Monaco,Consolas,"Courier New",monospace,'Helvetica Neue',Arial,sans-serif;
}
.side-item .list-article li:first-child:before {
    background-color: #e24d46;
}

.side-item .list-article li:nth-child(2):before {
    background-color: #2ea7e0;
}
.side-item .list-article li:nth-child(3):before {
    background-color: #6bc30d;
}
.side-item .list-article li:first-child:before,
.side-item .list-article li:nth-child(2):before,
.side-item .list-article li:nth-child(3):before {
    color: #fff;
}
.side-item .list-article li a {
    color: #848484;
}
/* 链接悬浮色 */
.article-item .article-title a:hover,
.side-item .list-article li a:hover {
    color: #6bc30d;
}